In [106]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [107]:
#http://www.countyhealthrankings.org/app/tennessee/2018/rankings/outcomes/overall, year = 2017
chrr_tn = pd.read_excel(r'./data/2017_CountyHealthRankingsTennesseeData-v2.xls', 
                        sheet_name='Ranked Measure Data', skiprows=[0,2])
chrr_tn.head()

,FIPS,State,County,# Deaths,Years of Potential Life Lost Rate,95% CI - Low,95% CI - High,Z-Score,% Fair/Poor,95% CI - Low.1,...,95% CI - High.20,Z-Score.33,% Drive Alone - Black,% Drive Alone - Hispanic,% Drive Alone - White,# Workers who Drive Alone,% Long Commute - Drives Alone,95% CI - Low.21,95% CI - High.21,Z-Score.34
0,47001,Tennessee,Anderson,1300,9749.0,8921.8,10576.3,-0.098022,20.026671,19.305510,...,89.051304,0.888787,97.664169,NaN,89.486674,27064,30.6,28.064058,33.135942,-0.683316
1,47003,Tennessee,Bedford,673,9113.2,8137.1,10089.4,-0.449386,22.398967,21.661805,...,84.449866,-1.210049,78.755187,74.116077,80.140845,15765,34.9,30.577668,39.222332,-0.278245
2,47005,Tennessee,Benton,414,13506.4,11391.7,15621.0,1.978441,23.714235,22.836373,...,88.385007,-0.309080,NaN,NaN,83.664510,4736,30.0,24.908561,35.091439,-0.739838
3,47007,Tennessee,Bledsoe,221,8405.9,6690.4,10121.4,-0.840263,22.291027,21.500580,...,84.448692,-1.624633,NaN,NaN,72.621564,3727,54.3,44.510191,64.089809,1.549287
4,47009,Tennessee,Blount,1842,8011.6,7440.5,8582.7,-1.058166,18.410149,17.745401,...,86.658214,0.276912,87.743733,81.336544,85.133685,47280,35.9,33.559095,38.240905,-0.184042

## subset data and visualize

### data with the largest separations in distributions

In [108]:
dist_list = ["County", "Years of Potential Life Lost Rate", "% LBW", "% Alcohol-Impaired",
            "Chlamydia Rate", "Preventable Hosp. Rate", "Violent Crime Rate",
            "Average Daily PM2.5", "% Drive Alone", "% Obese", "% Physically Inactive",
            "% With Access", "Graduation Rate", "% Some College", "% Severe Housing Problems", 
             "Presence of violation"]
water_tn = chrr_tn[dist_list]
water_tn.set_index("County", inplace=True)

dist_list_rename = pd.Series(['years-life-lost', '%-low-birth-weight', "% Alcohol-Impaired",
            "Chlamydia Rate", "Preventable Hosp. Rate", "Violent Crime Rate",
            "av-air-pollution-PM2.5", "% Drive Alone", "% Obese", "% Physically Inactive",
            "% with acccess to exercise", "hs Graduation Rate", "% Some College", 
                    "% Severe Housing Problems", "drinking-water-violation"])
dist_list_rename = dist_list_rename.str.lower()
dist_list_rename = dist_list_rename.str.replace(' ', '-')

water_tn.columns = dist_list_rename
water_tn.head()

,years-life-lost,%-low-birth-weight,%-alcohol-impaired,chlamydia-rate,preventable-hosp.-rate,violent-crime-rate,av-air-pollution-pm2.5,%-drive-alone,%-obese,%-physically-inactive,%-with-acccess-to-exercise,hs-graduation-rate,%-some-college,%-severe-housing-problems,drinking-water-violation
County,,,,,,,,,,,,,,,
Anderson,9749.0,8.254303,28.301887,315.1,55.11,317.728956,10.7,87.123358,31.7,33.1,75.273197,94.313953,54.680670,13.731588,No
Bedford,9113.2,9.047834,47.916667,355.1,74.32,361.225556,10.0,80.900087,32.1,36.5,64.334857,93.000000,38.070236,16.920732,No
Benton,13506.4,7.317073,34.375000,233.3,70.60,205.359684,9.2,83.571555,32.4,37.8,42.761841,92.500000,38.618705,15.384615,No
Bledsoe,8405.9,5.980861,50.000000,1464.1,90.60,108.751942,9.3,79.670799,32.7,36.2,48.353526,82.500000,34.693878,14.818880,Yes
Blount,8011.6,8.252534,26.271186,315.7,55.68,308.934602,10.1,85.309083,34.0,31.8,69.154540,91.985342,58.680019,13.862097,No

In [109]:
water_tn.isnull().sum()

years-life-lost               0
%-low-birth-weight            0
%-alcohol-impaired            0
chlamydia-rate                0
preventable-hosp.-rate        0
violent-crime-rate            0
av-air-pollution-pm2.5        0
%-drive-alone                 0
%-obese                       0
%-physically-inactive         0
%-with-acccess-to-exercise    1
hs-graduation-rate            1
%-some-college                0
%-severe-housing-problems     0
drinking-water-violation      0
dtype: int64

In [110]:
water_tn = water_tn.fillna(water_tn.median())
water_tn.isnull().sum()

years-life-lost               0
%-low-birth-weight            0
%-alcohol-impaired            0
chlamydia-rate                0
preventable-hosp.-rate        0
violent-crime-rate            0
av-air-pollution-pm2.5        0
%-drive-alone                 0
%-obese                       0
%-physically-inactive         0
%-with-acccess-to-exercise    0
hs-graduation-rate            0
%-some-college                0
%-severe-housing-problems     0
drinking-water-violation      0
dtype: int64

### import in 2014 data to test the model on after it's trained

In [111]:
#http://www.countyhealthrankings.org/app/tennessee/2018/rankings/outcomes/overall, year = 2017
chrr_tn_2014 = pd.read_excel(r'./data/2014_CountyHealthRankingsTennesseeData-v6.xls', 
                        sheet_name='Ranked Measure Data', skiprows=[0,2])
chrr_tn_2014.head()

,FIPS,State,County,Deaths,YPLL Rate,95% CI - Low,95% CI - High,Z-Score,Sample Size,% Fair/Poor,...,Workers,% Drive Alone,95% CI - Low.20,95% CI - High.20,Z-Score.32,Workers who Drive Alone,Long Commute - Drives Alone,95% CI - Low.21,95% CI - High.21,Z-Score.33
0,47001.0,Tennessee,Anderson,1126.0,8831.30,8059.766,9602.834,-0.501578,273.0,19.4,...,30889.0,86.674868,85.538782,87.810954,0.886096,26773.0,31.0,28.438991,33.561009,-0.541650
1,47003.0,Tennessee,Bedford,585.0,8755.89,7796.980,9714.800,-0.545841,225.0,22.3,...,18477.0,82.778590,79.779442,85.777737,-0.429895,15295.0,33.0,29.157562,36.842438,-0.362608
2,47005.0,Tennessee,Benton,394.0,12848.86,10829.119,14868.601,1.856558,208.0,20.0,...,5708.0,80.168185,76.297689,84.038681,-1.311574,4576.0,33.6,27.202468,39.997532,-0.308895
3,47007.0,Tennessee,Bledsoe,200.0,8401.68,6474.294,10329.066,-0.753747,119.0,27.0,...,4130.0,80.508475,77.685995,83.330954,-1.196640,3325.0,52.7,43.632930,61.767070,1.400958
4,47009.0,Tennessee,Blount,1660.0,7576.07,7029.132,8123.008,-1.238345,427.0,15.0,...,54567.0,86.200451,84.619064,87.781838,0.725859,47037.0,33.3,31.051902,35.548098,-0.335751

In [112]:
dist_list = ["County", "YPLL Rate", "% LBW", "% Alcohol-Impaired",
            "Chlamydia Rate", "ACSC Rate", "Violent Crime Rate",
            "Average daily PM25", "% Drive Alone", "% Obese", "% Physically Inactive",
            "% With Access", "Graduation Rate", "% Some College", "% Severe Housing Problems", 
             "% pop in viol"]
wtn2014 = chrr_tn_2014[dist_list]
wtn2014.set_index("County", inplace=True)

dist_list_rename = pd.Series(['years-life-lost', '%-low-birth-weight', "% Alcohol-Impaired",
            "Chlamydia Rate", "Preventable Hosp. Rate", "Violent Crime Rate",
            "av-air-pollution-PM2.5", "% Drive Alone", "% Obese", "% Physically Inactive",
            "% with acccess to exercise", "hs Graduation Rate", "% Some College", 
                    "% Severe Housing Problems", "drinking-water-violation"])
dist_list_rename = dist_list_rename.str.lower()
dist_list_rename = dist_list_rename.str.replace(' ', '-')

wtn2014.columns = dist_list_rename
wtn2014.head()

,years-life-lost,%-low-birth-weight,%-alcohol-impaired,chlamydia-rate,preventable-hosp.-rate,violent-crime-rate,av-air-pollution-pm2.5,%-drive-alone,%-obese,%-physically-inactive,%-with-acccess-to-exercise,hs-graduation-rate,%-some-college,%-severe-housing-problems,drinking-water-violation
County,,,,,,,,,,,,,,,
Anderson,8831.30,9.3,20.000000,243.2,52.164079,394.386419,13.41,86.674868,30.9,34.4,52.932955,88.000000,50.451404,11.845507,0.000000
Bedford,8755.89,8.9,34.782609,391.1,113.257231,372.991865,13.94,82.778590,36.0,33.3,44.893249,81.000000,36.509953,17.432052,16.654305
Benton,12848.86,8.6,41.666667,371.3,94.409614,231.087327,14.78,80.168185,34.0,35.2,30.104918,92.500000,40.268456,10.673352,0.000000
Bledsoe,8401.68,7.4,57.142857,248.7,94.710304,107.323555,13.71,80.508475,31.8,37.2,36.929171,77.500000,34.232558,12.415350,90.476190
Blount,7576.07,8.4,17.857143,259.1,83.936013,321.963926,13.38,86.200451,31.9,30.3,39.387042,91.268275,53.693884,12.814123,2.859153

The water quality was reported in terms of % population instead of binary presence the violation, as it was in 2017. I don't know how they calculated the binary vairabile in the 2017 data - the counties with violations present are totally different between the two years, qualitatively. Here, I'm going to check quantitatively how different the counties are.

As a side note, 2014 has data from 2012-2013 while 2017 has data from 2013-2014 ... odd.

In [113]:
dwv = wtn2014[['drinking-water-violation']].copy()
dwv['2017'] = water_tn['drinking-water-violation'].copy()
dwv.head()

          drinking-water-violation 2017
County
Anderson                  0.000000   No
Bedford                  16.654305   No
Benton                    0.000000   No
Bledsoe                  90.476190  Yes
Blount                    2.859153   No

In [114]:
dwv.columns = ['2014', '2017']

yn_dwv = dwv.copy()
make_binary = lambda x: 'Yes' if x >= 20  else 'No'
yn_dwv['2014'] = yn_dwv['2014'].apply(make_binary)

yn_dwv.head()

         2014 2017
County
Anderson   No   No
Bedford    No   No
Benton     No   No
Bledsoe   Yes  Yes
Blount     No   No

In [115]:
(yn_dwv['2014'] == 'Yes').sum()

12

In [116]:
(yn_dwv['2017'] == 'Yes').sum()

14

I've arbitrairly set the cutoff at >20% violations just to see if this'll work

In [117]:
wtn2014_yn = wtn2014.copy()
wtn2014_yn['drinking-water-violation'] = yn_dwv['2014']
wtn2014_yn.head()

,years-life-lost,%-low-birth-weight,%-alcohol-impaired,chlamydia-rate,preventable-hosp.-rate,violent-crime-rate,av-air-pollution-pm2.5,%-drive-alone,%-obese,%-physically-inactive,%-with-acccess-to-exercise,hs-graduation-rate,%-some-college,%-severe-housing-problems,drinking-water-violation
County,,,,,,,,,,,,,,,
Anderson,8831.30,9.3,20.000000,243.2,52.164079,394.386419,13.41,86.674868,30.9,34.4,52.932955,88.000000,50.451404,11.845507,No
Bedford,8755.89,8.9,34.782609,391.1,113.257231,372.991865,13.94,82.778590,36.0,33.3,44.893249,81.000000,36.509953,17.432052,No
Benton,12848.86,8.6,41.666667,371.3,94.409614,231.087327,14.78,80.168185,34.0,35.2,30.104918,92.500000,40.268456,10.673352,No
Bledsoe,8401.68,7.4,57.142857,248.7,94.710304,107.323555,13.71,80.508475,31.8,37.2,36.929171,77.500000,34.232558,12.415350,Yes
Blount,7576.07,8.4,17.857143,259.1,83.936013,321.963926,13.38,86.200451,31.9,30.3,39.387042,91.268275,53.693884,12.814123,No

In [118]:
#remove NaNs
wtn2014_yn.isnull().sum()

years-life-lost               2
%-low-birth-weight            2
%-alcohol-impaired            2
chlamydia-rate                2
preventable-hosp.-rate        2
violent-crime-rate            2
av-air-pollution-pm2.5        2
%-drive-alone                 2
%-obese                       2
%-physically-inactive         2
%-with-acccess-to-exercise    2
hs-graduation-rate            4
%-some-college                2
%-severe-housing-problems     2
drinking-water-violation      0
dtype: int64

In [119]:
wtn2014_yn = wtn2014_yn.fillna(wtn2014_yn.median())
wtn2014_yn.isnull().sum()

years-life-lost               0
%-low-birth-weight            0
%-alcohol-impaired            0
chlamydia-rate                0
preventable-hosp.-rate        0
violent-crime-rate            0
av-air-pollution-pm2.5        0
%-drive-alone                 0
%-obese                       0
%-physically-inactive         0
%-with-acccess-to-exercise    0
hs-graduation-rate            0
%-some-college                0
%-severe-housing-problems     0
drinking-water-violation      0
dtype: int64

# machine learning to predict the presence of a water violation

In [120]:
#prep data to train/test the model
violation = wtn2014_yn.pop("drinking-water-violation")

In [121]:
y = violation
X = wtn2014_yn

In [122]:
from sklearn import tree
from sklearn import model_selection

X_train, X_test, y_train, y_test = model_selection.train_test_split(
        X, y, test_size=0.4, random_state=42)

clf = tree.DecisionTreeClassifier(criterion='gini',
                                  max_features="auto",
                                  min_samples_leaf=5)
clf.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=5, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [123]:
preds = clf.predict(X_test)
pd.crosstab(y_test, preds, rownames=['actual'], 
            colnames=['prediction'])

prediction  No
actual
No          33
Yes          6

## applying the model to a normalized form of the 2014 data
__note:__ remember that the 2014 data for drinking water is in % and I binarized it arbitrairly to do this analysis

In [124]:
#break up 2014 data
y_2014 = water_tn.pop("drinking-water-violation")

In [125]:
x_2014 = water_tn

In [126]:
pred_2014 = clf.predict(x_2014)
pd.crosstab(y_2014, pred_2014, rownames=['actual'], 
            colnames=['prediction'])

prediction  No
actual
No          81
Yes         14

In [127]:
from sklearn.ensemble import RandomForestClassifier

rf = RandomForestClassifier(n_jobs=4, criterion='gini')
rf.fit(X_train, y_train)

preds = rf.predict(X_test)
pd.crosstab(y_test, preds, rownames=['actual'], 
            colnames=['prediction'])

prediction  No  Yes
actual
No          31    2
Yes          5    1

In [128]:
pred_2014 = rf.predict(x_2014)
pd.crosstab(y_2014, pred_2014, rownames=['actual'], 
            colnames=['prediction'])

prediction  No  Yes
actual
No          79    2
Yes         14    0

In [129]:
water_tn.index.shape

(95,)