In [2]:
#import libraries
import pandas as pd

# Hospice data set
## import hospice data

In [8]:
cancer_deaths = pd.read_csv('./data/Hospice_General_Information.csv')

## find TN

In [20]:
tn_cancer_deaths = cancer_deaths[cancer_deaths['State'] == 'TN']
tn_cancer_deaths.head()

,CMS Certification Number (CCN),Facility Name,Address Line 1,Address Line 2,City,State,Zip Code,County Name,PhoneNumber,CMS Region,Ownership Type,Certification Date
2889,441501,ALIVE HOSPICE INC,1718 PATTERSON ROAD,NaN,NASHVILLE,TN,37203,Davidson,(615) 327-1085,4,Non-Profit,04/10/1984
2890,441502,METHODIST ALLIANCE HOSPICE,"6400 SHELBY VIEW DRIVE, SUITE 101",NaN,MEMPHIS,TN,38134,Shelby,(901) 516-1600,4,Non-Profit,08/31/1984
2891,441504,HOSPICE OF CHATTANOOGA INC,4411 OAKWOOD DRIVE,NaN,CHATTANOOGA,TN,37416,Hamilton,(423) 892-4289,4,Non-Profit,06/30/1986
2892,441506,AMEDISYS HOSPICE CARE,6570 STAGE ROAD SUITE 110,NaN,BARTLETT,TN,38134,Shelby,(901) 680-0378,4,For-Profit,02/09/1987
2893,441507,NORTHCREST HOME HEALTH AND HOSPICE,212 NORTHCREST DRIVE,NaN,SPRINGFIELD,TN,37172,Robertson,(615) 384-9425,4,Other,07/13/1987

## subset columns and make column case smaller

In [24]:
tn_cancer_deaths = tn_cancer_deaths[['Facility Name', 'Address Line 1', 'City', 'State', 
                                     'County Name', 'CMS Region', 'Ownership Type', 'Certification Date']]
tn_cancer_deaths.head()

,Facility Name,Address Line 1,City,State,County Name,CMS Region,Ownership Type,Certification Date
2889,ALIVE HOSPICE INC,1718 PATTERSON ROAD,NASHVILLE,TN,Davidson,4,Non-Profit,04/10/1984
2890,METHODIST ALLIANCE HOSPICE,"6400 SHELBY VIEW DRIVE, SUITE 101",MEMPHIS,TN,Shelby,4,Non-Profit,08/31/1984
2891,HOSPICE OF CHATTANOOGA INC,4411 OAKWOOD DRIVE,CHATTANOOGA,TN,Hamilton,4,Non-Profit,06/30/1986
2892,AMEDISYS HOSPICE CARE,6570 STAGE ROAD SUITE 110,BARTLETT,TN,Shelby,4,For-Profit,02/09/1987
2893,NORTHCREST HOME HEALTH AND HOSPICE,212 NORTHCREST DRIVE,SPRINGFIELD,TN,Robertson,4,Other,07/13/1987

In [26]:
tn_cancer_deaths.columns = tn_cancer_deaths.columns.str.lower()
tn_cancer_deaths.head()

,facility name,address line 1,city,state,county name,cms region,ownership type,certification date
2889,ALIVE HOSPICE INC,1718 PATTERSON ROAD,NASHVILLE,TN,Davidson,4,Non-Profit,04/10/1984
2890,METHODIST ALLIANCE HOSPICE,"6400 SHELBY VIEW DRIVE, SUITE 101",MEMPHIS,TN,Shelby,4,Non-Profit,08/31/1984
2891,HOSPICE OF CHATTANOOGA INC,4411 OAKWOOD DRIVE,CHATTANOOGA,TN,Hamilton,4,Non-Profit,06/30/1986
2892,AMEDISYS HOSPICE CARE,6570 STAGE ROAD SUITE 110,BARTLETT,TN,Shelby,4,For-Profit,02/09/1987
2893,NORTHCREST HOME HEALTH AND HOSPICE,212 NORTHCREST DRIVE,SPRINGFIELD,TN,Robertson,4,Other,07/13/1987

## examine head and tail of TN data; print dimensions of data

In [27]:
tn_cancer_deaths.head()

,facility name,address line 1,city,state,county name,cms region,ownership type,certification date
2889,ALIVE HOSPICE INC,1718 PATTERSON ROAD,NASHVILLE,TN,Davidson,4,Non-Profit,04/10/1984
2890,METHODIST ALLIANCE HOSPICE,"6400 SHELBY VIEW DRIVE, SUITE 101",MEMPHIS,TN,Shelby,4,Non-Profit,08/31/1984
2891,HOSPICE OF CHATTANOOGA INC,4411 OAKWOOD DRIVE,CHATTANOOGA,TN,Hamilton,4,Non-Profit,06/30/1986
2892,AMEDISYS HOSPICE CARE,6570 STAGE ROAD SUITE 110,BARTLETT,TN,Shelby,4,For-Profit,02/09/1987
2893,NORTHCREST HOME HEALTH AND HOSPICE,212 NORTHCREST DRIVE,SPRINGFIELD,TN,Robertson,4,Other,07/13/1987

In [28]:
tn_cancer_deaths.tail()

,facility name,address line 1,city,state,county name,cms region,ownership type,certification date
2940,ENCOMPASS HOSPICE OF TENNESSEE,828 ROYAL PARKWAY SUITE 113,NASHVILLE,TN,Davidson,4,For-Profit,06/16/2010
2941,QUALITY HOSPICE,341 WEST CENTRAL AVENUE,JAMESTOWN,TN,Fentress,4,For-Profit,01/04/2013
2942,HEARTH HOSPICE,1800A ROSSVILLE AVE SUITE 114,CHATTANOOGA,TN,Hamilton,4,For-Profit,03/22/2013
2943,"AMEDISYS HOSPICE, AN ADVENTA COMPANY",400 ROYAL PARKWAY,NASHVILLE,TN,Davidson,4,Other,01/05/2016
2944,KINDRED HOSPICE,"430 STUART RD NE, STE 2",CLEVELAND,TN,Bradley,4,For-Profit,01/04/2017

In [31]:
print('there are ' + str(tn_cancer_deaths.shape[0]) + ' hospice facilities in TN')

there are 56 cancer centers in TN

# cancer data set
## import

In [7]:
cancer_df = pd.read_csv('./data/cancer_deaths.csv', skiprows=4, skipfooter=14, engine='python')
cancer_df.tail()

,County,FIPS,Met Healthy People Objective of 161.4?,"Age-Adjusted Death Rate - deaths per 100,000",Lower 95% Confidence Interval,Upper 95% Confidence Interval,Average Annual Count,Recent Trend,Recent 5-Year Trend in Death Rates,Lower 95% Confidence Interval.1,Upper 95% Confidence Interval.1
92,Van Buren County,47175,Yes,160.3,122.7,207.4,14,stable,-0.9,-2.4,0.6
93,Pickett County,47137,Yes,158.7,123.3,203.9,15,stable,-0.5,-1.8,0.9
94,Fayette County,47047,Yes,154.3,139.1,170.7,81,falling,-1.4,-2.2,-0.5
95,Williamson County,47187,Yes,127.2,119.8,134.9,239,falling,-3.8,-4.8,-2.9
96,Moore County,47127,Yes,123.2,93.9,160.5,12,falling,-2.1,-3.8,-0.4

In [6]:
cancer_df.dtypes

County                                           object
 FIPS                                             int64
Met Healthy People Objective of 161.4?           object
Age-Adjusted Death Rate - deaths per 100,000    float64
Lower 95% Confidence Interval                   float64
Upper 95% Confidence Interval                   float64
Average Annual Count                              int64
Recent Trend                                     object
Recent 5-Year Trend in Death Rates              float64
Lower 95% Confidence Interval.1                 float64
Upper 95% Confidence Interval.1                 float64
dtype: object

## print head, tail, and shape

In [9]:
cancer_df.head()

,County,FIPS,Met Healthy People Objective of 161.4?,"Age-Adjusted Death Rate - deaths per 100,000",Lower 95% Confidence Interval,Upper 95% Confidence Interval,Average Annual Count,Recent Trend,Recent 5-Year Trend in Death Rates,Lower 95% Confidence Interval.1,Upper 95% Confidence Interval.1
0,Tennessee,47999,No,185.4,184.0,186.8,13933,falling,-1.4,-1.5,-1.2
1,United States,0,No,163.5,163.3,163.7,586354,falling,-1.5,-1.6,-1.5
2,Trousdale County,47169,No,265.5,219.0,319.1,24,stable,0.0,-1.3,1.3
3,Scott County,47151,No,241.0,214.5,270.0,63,stable,-0.5,-1.1,0.1
4,Cheatham County,47021,No,239.6,217.8,263.0,97,stable,-0.6,-1.4,0.3

In [10]:
cancer_df.tail()

,County,FIPS,Met Healthy People Objective of 161.4?,"Age-Adjusted Death Rate - deaths per 100,000",Lower 95% Confidence Interval,Upper 95% Confidence Interval,Average Annual Count,Recent Trend,Recent 5-Year Trend in Death Rates,Lower 95% Confidence Interval.1,Upper 95% Confidence Interval.1
92,Van Buren County,47175,Yes,160.3,122.7,207.4,14,stable,-0.9,-2.4,0.6
93,Pickett County,47137,Yes,158.7,123.3,203.9,15,stable,-0.5,-1.8,0.9
94,Fayette County,47047,Yes,154.3,139.1,170.7,81,falling,-1.4,-2.2,-0.5
95,Williamson County,47187,Yes,127.2,119.8,134.9,239,falling,-3.8,-4.8,-2.9
96,Moore County,47127,Yes,123.2,93.9,160.5,12,falling,-2.1,-3.8,-0.4

In [11]:
cancer_df.shape

(97, 11)

## rename columns

In [13]:
cancer_df_cols = ['county', 'fips', 'met_obj', 'deaths_per_100k', 'dr_ci_lower',
                 'dr_ci_upper', 'av_ann_count', 'recent_trend', 'death_rate_trend',
                 'trend_ci_lower', 'trend_ci_upper']
cancer_df.columns = cancer_df_cols
cancer_df.head()

,county,fips,met_obj,deaths_per_100k,dr_ci_lower,dr_ci_upper,av_ann_count,recent_trend,death_rate_trend,trend_ci_lower,trend_ci_upper
0,Tennessee,47999,No,185.4,184.0,186.8,13933,falling,-1.4,-1.5,-1.2
1,United States,0,No,163.5,163.3,163.7,586354,falling,-1.5,-1.6,-1.5
2,Trousdale County,47169,No,265.5,219.0,319.1,24,stable,0.0,-1.3,1.3
3,Scott County,47151,No,241.0,214.5,270.0,63,stable,-0.5,-1.1,0.1
4,Cheatham County,47021,No,239.6,217.8,263.0,97,stable,-0.6,-1.4,0.3

# census df
## import

In [16]:
#used more human readable column names in lieu of the less human readable, more concise names
pop_df = pd.read_csv('./data/PEP_2017_PEPAGESEX.csv', skiprows=1)

## print head, tail, and shape

In [17]:
pop_df.head()

,Id,Id2,Geography,"April 1, 2010 - Census - Both Sexes; Total","April 1, 2010 - Census - Male; Total","April 1, 2010 - Census - Female; Total","April 1, 2010 - Estimates Base - Both Sexes; Total","April 1, 2010 - Estimates Base - Male; Total","April 1, 2010 - Estimates Base - Female; Total",Population Estimate (as of July 1) - 2010 - Both Sexes; Total,...,Population Estimate (as of July 1) - 2014 - Females; Median age (years),Population Estimate (as of July 1) - 2015 - Both Sexes; Median age (years),Population Estimate (as of July 1) - 2015 - Male; Median age (years),Population Estimate (as of July 1) - 2015 - Female; Median age (years),Population Estimate (as of July 1) - 2016 - Both Sexes; Median age (years),Population Estimate (as of July 1) - 2016 - Male; Median age (years),Population Estimate (as of July 1) - 2016 - Female; Median age (years),Population Estimate (as of July 1) - 2017 - Both Sexes; Median age (years),Population Estimate (as of July 1) - 2017 - Male; Median age (years),Population Estimate (as of July 1) - 2017 - Female; Median age (years)
0,0500000US47001,47001,"Anderson County, Tennessee",75129,36308,38821,75094,36288,38806,75112,...,44.8,43.3,41.4,44.8,43.3,41.5,45.1,43.2,41.2,45.0
1,0500000US47003,47003,"Bedford County, Tennessee",45058,22357,22701,45056,22356,22700,45086,...,38.4,37.2,35.9,38.5,37.5,36.2,38.8,37.5,36.2,38.9
2,0500000US47005,47005,"Benton County, Tennessee",16489,8073,8416,16491,8074,8417,16511,...,48.3,46.6,45.2,48.0,47.1,45.7,48.4,47.4,46.0,48.7
3,0500000US47007,47007,"Bledsoe County, Tennessee",12876,6964,5912,12872,6962,5910,12882,...,46.3,43.4,41.7,46.5,43.5,41.9,46.4,43.9,42.1,47.3
4,0500000US47009,47009,"Blount County, Tennessee",123010,59559,63451,123100,59596,63504,123213,...,44.1,43.4,42.1,44.5,43.7,42.2,44.9,43.8,42.3,45.1

In [19]:
pop_df.tail()

,Id,Id2,Geography,"April 1, 2010 - Census - Both Sexes; Total","April 1, 2010 - Census - Male; Total","April 1, 2010 - Census - Female; Total","April 1, 2010 - Estimates Base - Both Sexes; Total","April 1, 2010 - Estimates Base - Male; Total","April 1, 2010 - Estimates Base - Female; Total",Population Estimate (as of July 1) - 2010 - Both Sexes; Total,...,Population Estimate (as of July 1) - 2014 - Females; Median age (years),Population Estimate (as of July 1) - 2015 - Both Sexes; Median age (years),Population Estimate (as of July 1) - 2015 - Male; Median age (years),Population Estimate (as of July 1) - 2015 - Female; Median age (years),Population Estimate (as of July 1) - 2016 - Both Sexes; Median age (years),Population Estimate (as of July 1) - 2016 - Male; Median age (years),Population Estimate (as of July 1) - 2016 - Female; Median age (years),Population Estimate (as of July 1) - 2017 - Both Sexes; Median age (years),Population Estimate (as of July 1) - 2017 - Male; Median age (years),Population Estimate (as of July 1) - 2017 - Female; Median age (years)
90,0500000US47181,47181,"Wayne County, Tennessee",17021,9402,7619,17027,9404,7623,16987,...,45.8,42.6,39.8,46.5,42.7,39.9,46.7,43.1,40.0,47.4
91,0500000US47183,47183,"Weakley County, Tennessee",35021,17159,17862,35015,17157,17858,35042,...,39.2,37.6,36.0,39.2,37.9,36.2,39.6,38.3,36.6,40.1
92,0500000US47185,47185,"White County, Tennessee",25841,12640,13201,25836,12637,13199,25821,...,44.0,42.7,41.0,44.2,42.8,41.2,44.3,42.8,41.3,44.4
93,0500000US47187,47187,"Williamson County, Tennessee",183182,89336,93846,183252,89371,93881,184130,...,39.7,39.0,38.2,39.7,39.0,38.3,39.7,39.0,38.3,39.7
94,0500000US47189,47189,"Wilson County, Tennessee",113993,55834,58159,114057,55863,58194,114677,...,41.1,40.2,39.2,41.1,40.0,39.0,40.9,39.9,39.0,40.8

In [20]:
pop_df.shape

(95, 993)